<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= name %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Coiny&family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
        <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <header><%- include('partials/header.ejs') %></header>
    <main>
      <div id="left">
        <h2 id="pokemon-name"><%= name %></h2>
        <div id="main-img">
          <img src="<%= img %>" alt="<%= name %> image" />
        </div>
        <div id="left-footer">
        <h2 id="pokemon-price">$<%= stats.base_xp %></h2>
        <button type="button" class="add-button">ADD</button>
        </div>
      </div>
      <div id="right">
        <h3>STATS</h3>
        <div id="stats">
          <div class="stat">
            <label for="hp">HP</label>
            <progress id="hp" value="<%= stats.hp %>" max="255"></progress>
          </div>
          <div class="stat">
            <label for="speed">SPEED</label>
            <progress
              id="speed"
              value="<%= stats.speed %>"
              max="255"
            ></progress>
          </div>

          <div class="stat">
            <label for="attack">ATTACK</label>
            <progress
              id="attack"
              value="<%= stats.attack %>"
              max="255"
            ></progress>
          </div>
          <div class="stat">
            <label for="special-attack">SPECIAL ATTACK</label>
            <progress
              id="special-attack"
              value="<%= stats["special-attack"] %>"
              max="255"
            ><%= stats["special-attack"] %></progress>
          </div>

          <div class="stat">
            <label for="defense">DEFENSE</label>
            <progress
              id="defense"
              value="<%= stats.defense %>"
              max="255"
            ></progress>
          </div>
          <div class="stat">
            <label for="special-defense">SPECIAL DEFENSE</label>
            <progress
              id="special-defense"
              value="<%= stats["special-defense"] %>"
              max="255"
            ></progress>
          </div>
        </div>
        <h3>ABILITIES</h3>
        <div id="abilities">
            <% abilities.forEach((ability)=>{ %>
              <div class="ability">• <%= ability %></div>
            <% }) %>
      </div>
    </main>
      <%- include('partials/footer.ejs') %>
      <script>
        $(".add-button").on("click", ()=>{
          addToCart('<%= name %>', <%= stats.base_xp %>)
        })
      </script>
      <script src="/js/cart.js"></script>
  </body>
</html>